<nav class="card-collection-nav">
  <strong>Explore:</strong>
  <%= link_to "All Cards", cards_path %> |
  <%= link_to "All Colors", colors_path %> |
  <%= link_to "All Keywords", keywords_path %> |
  <%= link_to "All Card Types", card_types_path %>
</nav>
